@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

.navbartop {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100vw;
  background: rgba(178, 235, 242, 0.5);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}
.navbartop > .app_logo {
  background: url("../static/forcast_icon.png") no-repeat center;
  height: 50px;
  width: 50px;
  margin: 0.5vh 1.5vw;
}
.navbartop > .app_name {
  font-weight: 600;
  font-size: 15px;
}

.mycontainer {
  height: 90vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.searchbarcontainer {
  width: 60vw;
  height: auto;
  max-width: 700px;
  padding: 15px;
}

.searchbar {
  background: #fdfcfc;
  border: 1px solid #dadada;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 26px;
  padding: 10px;
  display: flex;
  align-items: center;
}

.searchbar > button {
  border: none;
  width: 20px;
  height: 20px;
  background: url("../static/search_icon.png") no-repeat center;
  background-size: contain;
}

.searchbar > input {
  width: 90%;
  border: none;
  font-size: 15px;
  margin-left: 10px;
}
.searchbar > input::placeholder {
  color: #cacaca;
}

.searchbar > input:focus {
  outline: none;
}

.searchbar > .pillcontainer {
  display: flex;
  width: auto;
}
.searchbar > .pillcontainer > .pill {
  background: #fdfcfc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 5px 15px;
  margin: 5px;
  font-size: 12px;
}
.searchbar > .pillcontainer > .pill:hover {
  background: #f0efefe4;
}

.blank_watchlist {
  margin-top: 40px;
}
.blank_watchlist > .img {
  width: 200px;
  height: 150px;
  background: url("../static/emptyclouds.png") no-repeat center;
  background-size: 200px;
}
.blank_watchlist > .message {
  font-size: 15px;
}

.watchlistcontainer {
  width: 70vw;
  height: 70vh;
  border: 2px solid blue;
}

.detailPagecontainer {
  height: 80vh;
  width: auto;
  margin: 0px 15vw;
  position: relative;
}
.back-btn {
  position: absolute;
  margin: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #0170fe;
  text-decoration: none;
  font-size: 20px;
}
.back-btn > div:hover {
  transform: scale(1.1);
}

.removebtn {
  z-index: 100;
}
.weather-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: w;
}
.weather-card > .icon {
  height: 90px;
  width: 90px;
  background: url("../static/sun_icon.png") no-repeat center;
  background-size: 90px;
}
.weather-card > .cityname {
  font-size: 20px;
  font-weight: 800;
  margin-top: 10px;
}
.weather-card > .temprature {
  font-size: 35px;
  font-weight: 800;
}
.info-card {
  /* max-width: 50vw; */
  margin-top: 3vh;
  grid-area: i;
  display: flex;
  align-items: center;
  background: #fdfcfc;
  justify-content: space-around;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 11px;
}
.info-card > .item {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info-card > .item > .value {
  font-weight: 800;
  font-size: 18px;
  margin: 2px;
}
.info-card > .item > .name {
  color: #5a5a5a;
  font-size: 15px;
  margin: 2px;
}
.graph-card {
  min-height: 150px;
  grid-area: g;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fdfcfc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 11px;
}
.graph-card > .left {
  display: flex;
  height: 80%;
  margin: 10px;
  flex-direction: column;
  justify-content: space-between;
}
.graph-card > .left > .heading,
.sun-info {
  color: #5a5a5a;
}
.graph-card > .right {
  height: 100px;
  width: 300px;
  background: url("../static/graph.png") no-repeat center;
  background-size: contain;
}
.action-card {
  position: absolute;
  right: 3vw;
  top: 5vh;
}

.details-container {
  margin: 30px;
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    "w w w w "
    "i i i i "
    "g g g g ";
}

.weatherdatacard {
  box-sizing: border-box;
  width: 350px;
  height: 200px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background: #fdfcfc;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  border-radius: 11px;
  padding: 20px;
}
.weatherdatacard > .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.arrow {
  width: 20px;
  height: 20px;
  background: url("../static/arrow.png") no-repeat center;
  background-size: contain;
}
.arrow:hover {
  transform: scale(1.2);
}

.backarrow {
  width: 15px;
  height: 15px;
  margin: 10px;
  background: url("../static/backarrow.png") no-repeat center;
  background-size: contain;
}

.backarrow:hover {
  transform: scale(1.2);
}

.weatherdatacard > .middle {
  display: flex;
  justify-content: space-between;

  font-size: 30px;
  align-items: center;
}
.weatherdatacard > .middle > div {
  width: 80px;
  height: 80px;
  background: url(../static/clouds.png) no-repeat center;
  background-size: contain;
}

.weatherdatacard > .bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.weatherdatacard > .bottom > .block {
  display: flex;
  align-items: center;
}

.weatherdatacard > .bottom > .block > .icon {
  width: 30px;
  height: 30px;
  background: url(../static/alarmsign.png) no-repeat center;
  background-size: contain;
}
.weatherdatacard > .bottom > .block > .text {
  color: #bfaf1b;
  font-size: 15px;
}
